body{
    background-color: #2c2c54; /*blu scuro*/
}

/* TITOLO */
h1 {
    color: #f9ca24;    /*giallone*/
    font-size: 45px;
}

/* MENU */
header ul {
    position: absolute;
    float: left;
    top: 15px;
    left: 350px;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
}
header li a {
  display: block;
  background-color: #f9ca24;    /*giallone*/
  color:  #130f40;    /* blu piu scuro*/
  text-align: center;
  padding: 14px 16px;
  margin: 2px;
  text-decoration: none;
}
li a:hover {
  background-color: #c7ecee;
  color: #2c2c54;               /*blu scuro*/
}

#accedi {
    display: block;
    background-color: #f9ca24;    /*giallone*/
    color:  #130f40;    /* blu piu scuro*/
    padding: 16px 16px 16px 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    float: right;
    position: relative;
    bottom: 50px;
    right: 20px;
}
#accedi:hover {
    background-color:  #130f40;    /* blu piu scuro*/
    color: #f9ca24;    /*giallone*/
}


/* COMANDI */
.comandi {
    position: absolute;
    left: 1180px;
    top: 200px;
}

.comandi button {
    background-color: #130f40;    /* blu piu scuro*/
    color: #f9ca24;    /*giallone*/
    border-radius: 10px;
    border-color: #f9ca24;    /*giallone*/
    width: 100px;
    padding: 20px 0px 20px 0px;
    margin-bottom: 50px
}

.comandi button:hover {
    background-color: #f9ca24;    /*giallone*/
    color:  #130f40;    /* blu piu scuro*/
    border-color: #130f40;    /* blu piu scuro*/
}

#monete{
    color: #f9ca24;    /*giallone*/
    font-size: 35px;
    font-weight: bold;

    margin-left: 10px;
}

/* INFO */
.info {
    position: absolute;
    top: 800px;
}
.info article, footer {
    display: block;
    color: black;
    background-color: #f9ca24;    /*giallone*/
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 14px 200px 14px 150px;
    color: #130f40;    /* blu piu scuro*/
}
.info p{
    font-size: 20px;
}
.info h2 {
    font-size: 35px;
}

/* FOOTER */
.info footer p{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
/* CANVAS */
#canvas {
    background-color: #d1ccc0;  /* #ffda79; */
    position: absolute;
    left: 100px;
}

#Corridori table tr, #Corridori table th {
    border: 1px solid black;
    padding: 7px 7px 7px 7px;
    background-color: #2c2c54; /*blu scuro*/
    color: #f9ca24;    /*giallone*/
    font-size: 20px;
}

#Regole ul{
    list-style-type: decimal;
    font-size: 20px;
    font-weight: bold;
}
